body{
    min-width: 300px;
    min-height: 150px;
}

.container {
    margin: 10px 20px 10px 20px;
}

.ex__name {
    color: #e03ed8
}

.box {
    padding: 15px;
}

#findId{
    border-radius: 5px;
    width: 60px;
    height: 40px;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
